<%- include('../partials/header') %>

<section id="show-page">
  <div><img src="<%= movie.image%>" alt="movie poster" id="showPoster"></div>
  <br>
  <div>Title: </div>
  <div><%= movie.title %></div>
  <div>Release Year: </div>
  <div><%= movie.year %></div>
  <div>Rating: </div>
  <div><%= movie.imDbRating %></div>
</section>
<!-- add to cast form below this comment -->
<br><br>


<%- include('../partials/footer') %>